* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
    scroll-behavior: smooth;
    height: 10000px;
}
body {
    background-color: #393E46;
}
header {
    background-color: #222831 ;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    font-size: 25px;
    font-weight: 600;
    color: #EBF4F6;
    box-shadow: 0px 7px 8px #20242a;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.navbar a {
    color: #EBF4F6;
    text-decoration: none;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: black;
    color: #EBF4F6;
    padding: 50px 120px;
    
    
}
.mainName {
    padding-top: 200px;
    padding-left: 90px;
}
.mainName h1 {
    font-size: 80px;
}


@keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
.mainHero img {
    height: 800px;
    animation: fadein 3s ease ;
}
.mainName p {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.mainName a {
    text-decoration: none;
    color: #ffffff;
    background-color: #6c8888;
    padding: 12px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 650;
}

.aboutMe {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}
.aboutMe img {
    margin: 60px 0px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    mix-blend-mode: lighten;
}